{{#partial "content"}}
    {{#if editHero}}
        <div class="data-image">
        </div>
        <div class="container">
            <h5>Update a Hero</h5>
            <hr>
            <form method="Post" action="/edithero/{{hero.id}}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Hero's Name" value="{{hero.heroName}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="power">Power</label>
                                <input type="text" class="form-control" id="power" name="power" placeholder="Hero's Power" value="{{hero.heroPower}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="weakness">Weakness</label>
                                <input type="text" class="form-control" id="weakness" name="weakness" placeholder="Hero's Weakness" value="{{hero.heroWeakness}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <input type="text" class="form-control" id="gender" name="gender" placeholder="Hero's Gender" value="{{hero.heroGender}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="age" name="age" placeholder="Hero's Age" value="{{hero.heroAge}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="squad">Squad</label>
                                <select class="form-control" id="squad" name="squad" required placeholder="Select squad">
                                    {{#if squads}}
                                        {{#each squads}}
                                            <option value="{{id}}">{{squadName}}</option>
                                        {{/each}}
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    {{/if}}
{{/partial}}
<!--footer-->
{{#partial "footer"}}
{{/partial}}
{{> layout.hbs}}