{{#partial "content"}}
    {{#if hero}}
        <div class="data-image"></div>
    <div class="container">
     <div class="container">
             <div class="card text-white text-center mb-3">
                 <div class="card-header">
                     <p>Hero's Name: {{hero.heroName}}</p>
                 </div>
                 <div class="card-body mb-3">
                     <ul class="list-group list-group-flush">
                         <li class="list-group-item" id="data8">Hero's Power: {{hero.heroPower}}</li>
                         <li class="list-group-item" id="data8">Hero's Weakness: {{hero.heroWeakness}}</li>
                         <li class="list-group-item" id="data8">Hero's Gender: {{hero.heroGender}}</li>
                         <li class="list-group-item" id="data8">Hero's Age: {{hero.heroAge}}</li>
                         {{#if squad}}
                             <li class="list-group-item">Squad's Name: {{squad.squadName}}</li>
                         {{/if}}
                     </ul>
                 </div>
             </div>
         </div>
         <div>
             <a href="/deletehero/{{hero.id}}" class="btn btn-danger">Remove</a>
             <a href="/edithero/{{hero.id}}" class="btn btn-danger">Update</a>
         </div>
     </div>
    {{/if}}
{{/partial}}
<!--footer-->
{{#partial "footer"}}
    <footer>
    </footer>
{{/partial}}
{{> layout.hbs}}