{{#partial "content"}}
    {{#if editSquad}}
        <div class="data-image">
        </div>
        <div class="container">
            <h5>Update a Squad</h5>
            <hr>
            <form method="Post" action="/editsquad/{{squad.id}}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Squad Name" value="{{squad.squadName}}">
                </div>
                <div class="form-group">
                    <label for="cause">Cause</label>
                    <input type="text" class="form-control" id="cause" name="cause" placeholder="Squad's cause" value="{{squad.squadPurpose}}">
                </div>
                <div class="form-group">
                    <label for="number">Number</label>
                    <input type="number" class="form-control" id="number" name="number" placeholder="Number of heroes" value="{{squad.squadNumber}}">
                </div>
                <div class="form-group">
                    <label for="group">Group</label>
                    <input type="text" class="form-control" id="group" name="group" placeholder="Squad Group" value="{{squad.squadGroup}}">
                </div>
                <button type="submit" class="btn btn-danger">Update</button>
            </form>
        </div>
    {{/if}}
{{/partial}}
<!--footer-->
{{#partial "footer"}}
{{/partial}}
{{> layout.hbs}}